/* todo------------------- FONT---------- */
@font-face {
  font-family: "font";
  src: url("./ressources/Abalone\ Smile.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "pixel";
  src: url("./ressources/pixelex.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "pixel2";
  src: url("./ressources/Expo-Bold.otf");
  font-display: fallback;
}

/* todo------------------- ANIMATIONS ---------- */
@keyframes clignotement {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes border {
  from {
    box-shadow: 0px 0px 1px aqua;
  }

  to {
    box-shadow: 0px 0px 9px aqua;
  }
}

@keyframes apparitionmenu {
  from {
    left: -20vw;
  }

  to {
    left: 8vw;
  }
}

@keyframes apparitionmenu2 {
  from {
    left: -20vw;
  }

  to {
    left: 50%;
  }
}

@keyframes effettexte {
  from {
    color: white;
    text-shadow: 0px 0px 0px black;
  }

  to {
    color: rgb(255, 255, 255);

    text-shadow: 0px 0px 10px aqua;
  }
}

/* todo------------------- BASICS CONFIG ---------- */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pixel2";
}

html {
  background-color: rgb(0, 0, 0);
  -moz-user-select: none;
  user-select: none;
  background-image: url("./ressources/img/fond.webp");
  background-repeat: repeat;
  background-position: center;
  object-fit: contain;
  cursor: url("./ressources/img/mouse.png"), default;
}

body {
  height: 100%;
  width: 100%;
}

#particles {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 98%;
  width: 99%;
  z-index: 0;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6vw;
  line-height: 15px;
}

/* todo----------------------- logo site---------------*/

#logo {
  position: absolute;
  top: 14vh;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: clignotement 0.8s 3 alternate ease-in-out;
  border-radius: 200%;
  width: 12%;
  filter: drop-shadow(0px 0px 15px rgba(0, 255, 255, 0.327));
}

#terre {
  position: absolute;
  top: 14vh;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  width: 21%;
  opacity: 50%;
}

/* todo----------------------- Menu ------------- */

#blockmenu {
  position: absolute;
  top: 59vh;
  left: 8vw;
  transform: translate(-50%, -50%);
  animation: apparitionmenu 2s;
}

li {
  list-style: none;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgb(0, 232, 228);
  border-radius: 15px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  font-size: 1.3vw;
  color: white;
  cursor: url("./ressources/img/mouse2.png"), pointer;
  transition: box-shadow, background-color, color, 0.3s ease;
}

li:hover {
  color: aqua;

  box-shadow: 0px 0px 15px rgb(0, 232, 228);
}

#menu {
  position: relative;
  row-gap: 1.2vw;
  display: flex;
  flex-direction: column;
}

/* todo------------------- contenu page ---------- */

#contenupagehtml {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 60vw;
  height: 65vh;
  border-radius: 0px 100px / 150px;
  scrollbar-width: none;
  z-index: 6;

  overflow: scroll;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  color: white;
}

#contenupagehtml p {
  will-change: color;
  animation: clignotement 0.4s ease-in-out;
  color: rgb(255, 255, 255);

}

#contenupagehtml h1 {
  margin-top: 3.5vh;
  font-size: 2.5vw;
}

#contenupagehtml::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

#info {
  margin-top: 8%;
}

/* todo------------------- RECITS ---------- */

.titrerecits {
  line-height: 1vh;
  border-radius: 15px;
  padding: 7px 8px 7px 8px;
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0px 1px 3px aqua;
  text-shadow: 2px 0px 1px rgb(0, 0, 0);
}

#titrerecits:hover {
  background-color: rgb(47, 255, 0);
}

.logoskill {
  width: 4vh;
  position: absolute;
  margin-left: 15px;
  margin-top: -1.5vh;
  filter: drop-shadow(0px 0px 5px rgb(130, 22, 0));
}

/* todo------------------- CREATIONS ---------- */

.imgpixel {
  box-shadow: 0px 0px 5px aqua;
  position: absolute;
  width: 50%;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  pointer-events: none;
  border: solid 1px rgb(0, 255, 225);
  z-index: 3;
  animation: clignotement 0.5s;
  will-change: transform;

  /*     animation: clignotement 0.8s 1 linear;
 */
}

#flechedroitepixel {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 80%;
  cursor: url("./ressources/img/mouse2.png"), pointer;
  box-shadow: 0px 0px 5px aqua;
  border-radius: 90%;
  animation: clignotement 1s infinite alternate linear;
  z-index: 3;
}

#flechegauchepixel {
  cursor: url("./ressources/img/mouse2.png"), pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 20%;
  box-shadow: 0px 0px 5px aqua;
  border-radius: 90%;
  animation: clignotement 1s infinite alternate linear;
  z-index: 3;
}

#descriptionpixel {
  z-index: 5;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  padding: 7px;
  transition: all 1s;
  will-change: transform;
}

.lien {
  cursor: url("./ressources/img/mouse2.png"), pointer;
  color: beige;
}

.lien:hover {
  color: aqua;
}

/* todo------------------- CONTACT ---------- */
#infocontact {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#mailcopie,
#telcopie {
  filter: drop-shadow(0px 0px 1px aqua);
  margin-left: 15px;
  position: absolute;
  width: 17px;
  transition: 2s;
  cursor: url("./ressources/img/mouse2.png"), pointer;
}

#textecopie {
  animation: clignotement 0.3s infinite alternate;
  position: absolute;
  z-index: 7;
  color: aqua;
  font-size: 15px;
}

/* todo------------------- BAS DU SITE ---------- */

#infosite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;

  column-gap: 5px;
}

#infosite p {
  font-size: 1.6vh;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.invisible {
  display: none;
  pointer-events: none;
}

.titreeffet {
  animation: clignotement 1s 1 linear;
  animation: effettexte 1s 2 alternate ease-in;
}

/* todo------------------- Responsive ---------- */

@media only screen and (min-height: 800px) {
  #contenupagehtml h1 {
    padding-top: 0%;
  }
}

@media (min-height: 1090px) {
}

@media (min-height: 850px) {
  li {
    font-size: 1.6vw;
  }

  #contenupagehtml h1 {
    font-size: 2.5vw;
  }

  #flechedroitepixel {
    left: 80%;
  }

  #flechegauchepixel {
    left: 20%;
  }
}

/* todo------------------- Responsive tablette---------- */
@media (min-height: 600px) and (max-width: 1030px) {
  #flechegauchepixel {
    left: 6%;
  }

  #flechedroitepixel {
    left: 94%;
  }

  .imgpixel {
    width: 75%;
  }

  #blockcreations h2 {
    padding: 11px;
    font-size: 30px;
  }

  #contenupagehtml {
    width: 80vw;
    height: 55vh;
  }

  p {
    font-size: 1.8vh;
  }

  .titreeffet {
    margin-bottom: 5vh;
  }

  #blockmenu {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: apparitionmenu2 2s;
  }

  #menu {
    display: flex;
    flex-direction: row;
  }

  li {
    font-size: 1.5vh;
    margin: 5px;
  }

  #terre {
    width: 41%;
  }

  #logo {
    width: 22%;
  }

  #contenupagehtml h1 {
    font-size: 5.5vw;
  }

  .logoskill {
    display: none;
  }
}

/* todo------------------- Responsive phone---------- */

@media (min-height: 300px) and (max-width: 500px) {
  #descriptionpixel {
    top: 70%;
    left: 50%;
    width: 100vw;

    padding: 7px;

    animation: clignotement 1s 1 ease-in;
  }

  #contenupagehtml {
    width: 100vw;
    height: 50vh;
  }

  .imgpixel {
    width: 75%;
  }

  p {
    font-size: 1.5vh;
    line-height: 2vh;
  }

  .titreeffet {
    margin-bottom: 5vh;
  }

  #logo {
    width: 32%;
  }

  #terre {
    width: 51%;
  }

  .logoskill {
    display: none;
  }

  #infosite {
    width: 100vw;
  }

  #contenupagehtml h1 {
    padding-top: 9%;
    font-size: 5.5vw;
  }

  #flechegauchepixel {
    left: 6%;
  }

  #flechedroitepixel {
    left: 94%;
  }
}
