/* todo-------------------------------------------------------------- Animations ---------- */
@keyframes apparitiontxt {
    from {
        color: transparent;
    }

    to {
        color: black;
    }
}

@keyframes apparitionimg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes apparitionimg1 {
    from {


        filter: grayscale(2)
    }

    to {

        filter: grayscale(0.2)
    }
}

@keyframes disparition {
    from {


        opacity: 1;
    }

    to {

        opacity: 0;
    }
}




/* todo-------------------------------------------------------------- Basics config ---------- */
html {
    margin: 0;
    padding: 0;
    user-select: none;

}

body {
    background-color: antiquewhite;
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    display: block;
    width: 100%;
    height: 100%;
}



/* todo-------------------------------------------------------------- MENU ---------- */

ul {
    display: flex;

    width: max-content;
    column-gap: 2vw;
    list-style: none;
    font-size: 3vh;
    position: absolute;
    left: 1vw;
}

li {
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #ffc53c, #d95d05);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

input {
    width: 11vw;
}



#menu {
    position: absolute;
    top: 5%;
    left: 85%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 1.2vw;

}



input {

    padding-left: 1vw;
    padding-right: 1vw;
    border: 0;
    border-radius: 0.3vw;
    background-color: rgb(154, 142, 127);
    color: antiquewhite;
    font-size: 2vh;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: antiquewhite;
}



.svg-icon {
    cursor: pointer;
    width: 2em;
    height: 1.5em;

}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: rgb(0, 0, 0);
}

.svg-icon :hover {
    fill: rgb(248, 137, 0);
}

/* todo-------------------------------------------------------------- TITRE ET LOGO ---------- */
#titre {
    font-size: 3.5vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);



}

#titre span {

    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #ffc53c, #d95d05);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#titre span:hover {

    color: transparent;


}

#logo {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 5%;

}

/* todo-------------------------------------------------------------- Block IMG ---------- */

#blockimg {

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vh;
    margin-top: 10vh;

    width: 95vw;
}

.img {

    transition: all 1s;
    filter: grayscale(0.2);
    position: relative;
    animation: apparitionimg1 1.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 150%;


    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin-left: 0.5vw;
    margin-right: 1vw;


}

.img:hover {


    filter: grayscale(0);

}

#img1,
#img2,
#img3 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;


}


#img1coeur,
#img2coeur,
#img3coeur {

    position: absolute;
    font-size: 5vh;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: transparent;
    text-shadow: 0 0 0 grey;
    font-size: 5vh;
    transition: all 1s;
    cursor: pointer;


    padding: 0;

}

#img1text,
#img2text,
#img3text {
    transition: all 0.5s;
    position: absolute;
    color: white;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
   box-shadow: 0px 0px 10px antiquewhite;
    font-size: 3.5vh;
    background-color: black;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;






}



/* todo-------------------------------------------------------------- FOOTER ---------- */
footer {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(154, 142, 127);
    width: 100%;
    height: 14vh;
}

#infosite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    margin: 0;
    color: antiquewhite;

}





















/* todo-------------------------------------------------------------- Responsive ---------- */

@media only screen and (min-height: 700px) {
    .img {

        border-radius: 15px;
        width: 28vw;
        height: 70vh;



    }

    #menu {
        font-size: 2vh;
    }
}

@media (min-height: 1090px) {}


@media (min-height: 850px) {
    .img {

        border-radius: 15px;
        width: 28vw;
        height: 70vh;



    }
}

/* todo------------------- Responsive tablette---------- */
@media (min-height: 600px) and (max-width:1360px) {}

/* todo------------------- Responsive phone---------- */

@media (min-height: 300px) and (max-width:500px) {}